// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@import "tailwind";

body {
    font-family: 'Noto Sans', sans-serif;
}

.bg-main {
    background: linear-gradient(to right, #0070BA, #003087);
}

.text-main{
  font-size: 0.9rem;
}

